/*mobile first*/

html{
	background-color: #a50f1d;
}

h1{
	font-size: 1.5rem;
}

h2{
	font-size: 1.2rem;
}

nav{
	font-size: .7rem;
}

figure{
	padding: 0;
	margin: 0;
}

ul{
	-webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0;
}

h3{
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.Main{
	display: table;
	background-color: #a50f1d;
	color: white;
	width: 100%;
	height: 4rem;
	margin: 0;
	padding: 0;

}
	.Logo{
		display:none;
	}
	.rmm{
		display:block;
	}
	.Main-nombre{
		display: table-cell;
		width: 100%;
		text-align: center;
		vertical-align: middle;
	}

.DomiciliosRedes{
	background-color: white;
	margin: 0;
	padding: 0;
	display: table;
	width: 100%;
}
	.DomiciliosRedes-domicilios{
		display: table-cell;
		width: 90%;
	}
		.DomiciliosRedes__titulo{
			padding: 0;
			margin: 0 auto;
			text-align: center;
		}
		.DomiciliosRedes__imagen{
			text-align: center;
			margin-top: .8rem;
		}
		.DomiciliosRedes__descripcion{
			text-align: justify;
			padding: .5rem;
		}
	.DomiciliosRedes-redes{
		display: table-cell;
		vertical-align: top;
		background-color: #B1bD5D;
		width: 10%;
		padding: 0;
		margin: 0;
	}	
		.DomiciliosRedes-Redes__links{
			list-style-type: none;
			width: 10%;
			padding: 0;
			margin: 0;
		}
		.DomiciliosRedes-Redes__links__icono{
			padding:0.5rem;
			margin: 0 auto;
		}

.Promociones{
	padding-bottom: .5rem;
	margin: 0;
	margin-bottom: 1rem;
	background-color: white;
}
	.Promociones-imagen{
		text-align: center;
		padding-bottom: 1.5rem;
	}
	.Promociones-descripcion{
		text-align: justify;
		padding: .5rem;
	}
.LinksDerechos{
	display: table;
	width: 100%;
	margin-top: 2rem;
	padding: 0;
	color: white;
}
	.LinksDerechos-links{
		margin: 0;
		padding: 0;
	}
	.LinksDerechos-links__lista{
		list-style-type: none;
		text-align: center;
	}
		.LinksDerechos-links__lista__link{
			display: inline-block;
			padding: 0 .8rem;
		}
		.LinksDerechos-links__lista__link a{
			text-decoration: none;
			color: white;
			font-size: 1rem;
		}
	.LinksDerechos-derechos{
		font-size: .7rem;
		margin-top: 3.5rem;
	}
		.LinksDerechos-derechos_descripcion{
			text-align: center;
		}
.ProductosRedes{
	display: table;
}
	.ProductosRedes-productos{
		display: table-cell;
		background-color: white;
		padding: .5rem;
	}
		.ProductosRedes-productos__articulo{
			margin: .8rem .5rem;
		}
			.ProductosRedes-productos__titulo{
				display: table-row;
				text-align: center;
			}
			.ProductosRedes-productos__imagen{
				display: table-cell;
				padding: .5rem;
			}
			.ProductosRedes-productos__descripcion{
				display: table-cell;
				vertical-align: middle;
				text-align: right;
			}
.SucursalesRedes{
	display: table;
}
	.SucursalesRedes-sucursales{
		display: table-cell;
		background-color: white;
	}
		.SucursalesRedes-sucursales__articulo{
			
		}
			.SucursalesRedes-sucursales__titulo{
				text-align: center;
			    margin-top: .5rem;
			}
			.SucursalesRedes-sucursales__imagen{
				padding: .5rem;
				text-align: center;
			}
			.SucursalesRedes-sucursales__lista{
				vertical-align: middle;
				list-style-type: none;
				text-align: left;
				font-size: .8rem;
			}
				.SucursalesRedes-sucursales__direccion{
					display: block;
					text-align: center;
				}
				.SucursalesRedes-sucursales__direccion:before{
					content: "Dirección: ";
				}
				.SucursalesRedes-sucursales__telefono{
					display: block;
					text-align: center;
					padding-bottom: .5rem;
					border-bottom: dashed gray 1px;
				}
				.SucursalesRedes-sucursales__telefono:before{
					content: "Teléfono: ";
				}

.ContactoRedes{
	display: table;
}
	.ContactoRedes-contacto{
		background-color: white;
		margin: 0;
		padding:0;
		display: table-cell;
	}
		.ContactoRedes__titulo{
			text-align: center;
		}
		.ContactoRedes__form{
			text-align: center;
		}
			.ContactoRedes__form__nombre{
				width: 85%;
				margin: .5rem;
				border: solid 1px #a50f1d;
				border-radius: 2px;
			}
			.ContactoRedes__form__email{
				width: 85%;
				margin: .5rem;
				border: solid 1px #a50f1d;
				border-radius: 2px;
			}
			.ContactoRedes__form__comentario{
				margin: .5rem;
				border: solid 1px #a50f1d;
				border-radius: 2px;
			}

			.ContactoRedes__form__boton{
				border: solid 1px #a50f1d;
				margin: .5rem;	
				border-radius: 2px;
			}

/*Tablet*/

@media (min-width: 478px){
	.Logo{
		display:inline-block;
		vertical-align: middle;
	}
	.Main-nombre{
		display: inline-block;
	}
	
	.DomiciliosRedes-domicilios{
		display: none;
	}
}