<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/style.css">
	<title>Nexdu contacto</title>
</head>
<body>
	<header class="Main">
		<div class="Main-menuIcon">&#9776;</div>
		<h1 class="Main-nombre">Restaurante Nexdu</h1>
	</header>
	<section class="ContactoRedes">
		<article class="ContactoRedes-contacto">
			<h1 class="ContactoRedes__titulo">Contacto</h1>
			<form action="" class="ContactoRedes__form">
				<input type="text" class="ContactoRedes__form__nombre" placeholder="Nombre">
				<input type="email" class="ContactoRedes__form__email" placeholder="Email">
				<textarea name="" id="" cols="30" rows="10" class="ContactoRedes__form__comentario" placeholder="Escribe aqui tu comentario">
					
				</textarea>
				<input type="submit" class="ContactoRedes__form__boton" value="Enviar">
			</form>
			<article class="ContactoRedes__captcha">
				
			</article>
		</article>
		<aside class="DomiciliosRedes-redes">
			<ul class="DomiciliosRedes-Redes__links">
				<li><a href="#"><figure class="DomiciliosRedes-Redes__links__icono">
					<img src="../images/facebook.png" width="50" alt="Facebook">
				</figure></a></li>
				<li><a href="#"><figure class="DomiciliosRedes-Redes__links__icono">
					<img src="../images/twitter.png" width="50" alt="Twitter">
				</figure></a></li>
				<li><a href="#"><figure class="DomiciliosRedes-Redes__links__icono">
					<img src="../images/google-plus.png" width="50" alt="Google plus">
				</figure></a></li>
				<li><a href="#"><figure class="DomiciliosRedes-Redes__links__icono">
					<img src="../images/instagram.png" width="50" alt="Instagram">
				</figure></a></li>
			</ul>
		</aside>
	</section>
	<footer class="LinksDerechos">
		<section class="LinksDerechos-links">
			<ul class="LinksDerechos-links__lista">
				<li class="LinksDerechos-links__lista__link"><a href="productos.html">Productos</a></li>
				<li class="LinksDerechos-links__lista__link"><a href="#">Sucursales</a></li>
				<li class="LinksDerechos-links__lista__link"><a href="#">Contacto</a></li>
			</ul>
		</section>
		<aside class="LinksDerechos-derechos">
			<p class="LinksDerechos-derechos_descripcion">
				Diseñado por Nexdu, el contenido pertenece a Nexdu Restaurantes.
			</p>
		</aside>
	</footer>
</body>
</html>