<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=500, initial-scale=1">
	<title>Nexdu Restaurantes</title>
</head>
<body>
	<header class="Main">
		<nav class="Main-menu">
			<ul>
				<li><a href="#">Productos</a></li>
				<li><a href="#">Sucursales</a></li>
				<li><a href="#">Contacto</a></li>
			</ul>
		</nav>
		<a href=""><figure class="Main-logo">
			
		</figure>
		LOGO EMPRESA
		</a>
	</header>
	<section class="DomiciliosRedes">
		<article class="DomiciliosRedes-domicilios">
			<h1 class="DomiciliosRedes__titulo">Domicilios</h1>
			<figure class="DomiciliosRedes__imagen">
				
			</figure>
			<p class="DomiciliosRedes__descripcion">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit praesentium hic assumenda ratione! Quidem excepturi voluptas voluptate aspernatur vero saepe neque quia! Maiores, reiciendis ullam quos asperiores dolorum consequuntur aliquid.
			</p>
		</article>
		<aside class="DomiciliosRedes-redes">
			<header class="DomiciliosRedes-Redes__header"></header>
			<ul class="DomiciliosRedes-Redes__links">
				<li><a href="#"></a><figure class="DomiciliosRedes-Redes__links__icono">
					Facebook
				</figure></li>
				<li><a href="#"></a><figure class="DomiciliosRedes-Redes__links__icono">
					Twitter
				</figure></li>
				<li><a href="#"></a><figure class="DomiciliosRedes-Redes__links__icono">
					Google+
				</figure></li>
				<li><a href="#"></a><figure class="DomiciliosRedes-Redes__links__icono">
					Instagram
				</figure></li>
			</ul>
		</aside>
	</section>
</body>
</html>