<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/responsivemobilemenu.css">
	<title>Nexdu Restaurantes</title>
</head>
<body>
	<header class="Main">
		<nav class="rmm" data-menu-title="" data-menu-style="minimal">
	        <ul>
	            <li><a href='#'>Productos</a></li>
	            <li><a href='#'>Sucursales</a></li>
	            <li><a href='#'>Contacto</a></li>
	       </ul>
		</nav>
		<div class="Logo">
			<figure class="Logo-figure">
				<img src="../images/domicilios.jpeg" width="150" alt="Logo" class="Logo-image">
			</figure>
		</div>
		<h1 class="Main-nombre">Restaurante Nexdu</h1>
	</header>
	<section class="DomiciliosRedes">
		<article class="DomiciliosRedes-domicilios">
			<h2 class="DomiciliosRedes__titulo">Domicilios</h2>
			<figure class="DomiciliosRedes__imagen">
				<img src="../images/domicilios.jpeg" width="150" alt="Domicilios">
			</figure>
			<p class="DomiciliosRedes__descripcion">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit praesentium hic assumenda ratione! Quidem excepturi voluptas voluptate aspernatur vero saepe neque quia! Maiores, reiciendis ullam quos asperiores dolorum consequuntur aliquid.
			</p>
		</article>
		<aside class="DomiciliosRedes-redes_tablet">
			<ul class="DomiciliosRedes-Redes__links_tablet">
				<li><a href="#"><figure class="DomiciliosRedes-Redes__links__icono_tablet">
					<img src="../images/facebook.png" width="30" alt="Facebook">
				</figure></a></li>
				<li><a href="#"><figure class="DomiciliosRedes-Redes__links__icono_tablet">
					<img src="../images/twitter.png" width="30" alt="Twitter">
				</figure></a></li>
				<li><a href="#"><figure class="DomiciliosRedes-Redes__links__icono_tablet">
					<img src="../images/google-plus.png" width="30" alt="Google plus">
				</figure></a></li>
				<li><a href="#"><figure class="DomiciliosRedes-Redes__links__icono_tablet">
					<img src="../images/instagram.png" width="30" alt="Instagram">
				</figure></a></li>
			</ul>
		</aside>
		<article class="DomiciliosRedes-domicilios_tablet">
			<h2 class="DomiciliosRedes__titulo_tablet">Domicilios</h2>
			<figure class="DomiciliosRedes__imagen_tablet">
				<img src="../images/domicilios.jpeg" width="200" alt="Domicilios">
			</figure>
			<p class="DomiciliosRedes__descripcion_tablet">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit praesentium hic assumenda ratione! Quidem excepturi voluptas voluptate aspernatur vero saepe neque quia! Maiores, reiciendis ullam quos asperiores dolorum consequuntur aliquid.
			</p>
		</article>
		<aside class="DomiciliosRedes-redes">
			<ul class="DomiciliosRedes-Redes__links">
				<li><a href="#"><figure class="DomiciliosRedes-Redes__links__icono">
					<img src="../images/facebook.png" width="30" alt="Facebook">
				</figure></a></li>
				<li><a href="#"><figure class="DomiciliosRedes-Redes__links__icono">
					<img src="../images/twitter.png" width="30" alt="Twitter">
				</figure></a></li>
				<li><a href="#"><figure class="DomiciliosRedes-Redes__links__icono">
					<img src="../images/google-plus.png" width="30" alt="Google plus">
				</figure></a></li>
				<li><a href="#"><figure class="DomiciliosRedes-Redes__links__icono">
					<img src="../images/instagram.png" width="30" alt="Instagram">
				</figure></a></li>
			</ul>
		</aside>
	</section>
	<section class="Promociones">
		<figure class="Promociones-imagen">
			<img src="../images/pollo.jpeg" width="100%" alt="Promocion pollo">
		</figure>
		<figcaption class="Promociones-descripcion">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, esse itaque eveniet ullam illum nam aliquid voluptatem assumenda iste! Tenetur, quisquam modi eligendi neque quam dolore. Eum architecto autem eius!
		</figcaption>
		<div class="Promociones-tablet">
			<figure class="Promociones-imagen_tablet">
				<img src="../images/pollo.jpeg" width="100%" alt="Promocion pollo">
			</figure>
			<figure class="Promociones-imagen_tablet">
				<img src="../images/pollo.jpeg" width="100%" alt="Promocion pollo">
			</figure>
		</div>
	</section>
	<footer class="LinksDerechos">
		<section class="LinksDerechos-links">
			<ul class="LinksDerechos-links__lista">
				<li class="LinksDerechos-links__lista__link"><a href="productos.html">Productos</a></li>
				<li class="LinksDerechos-links__lista__link"><a href="#">Sucursales</a></li>
				<li class="LinksDerechos-links__lista__link"><a href="#">Contacto</a></li>
			</ul>
		</section>
		<aside class="LinksDerechos-derechos">
			<p class="LinksDerechos-derechos_descripcion">
				Diseñado por Nexdu, el contenido pertenece a Nexdu Restaurantes.
			</p>
		</aside>
	</footer>
	<script type="text/javascript" src="../js/jquery.js"></script>
	<script type="text/javascript" src="../js/responsivemobilemenu.js"></script>
</body>
</html>