<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=500, initial-scale=1">
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/style.css">
	<title>Nexdu Restaurantes</title>
</head>
<body>
	<header class="Main">
		<nav class="Main-menu">
			<ul>
				<li><a href="#">Productos</a></li>
				<li><a href="#">Sucursales</a></li>
				<li><a href="#">Contacto</a></li>
			</ul>
		</nav>
		<a href=""><figure class="Main-logo">
			
		</figure>
		LOGO EMPRESA
		</a>
	</header>
	<section class="DomiciliosRedes">
		<article class="DomiciliosRedes-domicilios">
			<h1 class="DomiciliosRedes__titulo">Domicilios</h1>
			<figure class="DomiciliosRedes__imagen">
				
			</figure>
			<p class="DomiciliosRedes__descripcion">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit praesentium hic assumenda ratione! Quidem excepturi voluptas voluptate aspernatur vero saepe neque quia! Maiores, reiciendis ullam quos asperiores dolorum consequuntur aliquid.
			</p>
		</article>
		<aside class="DomiciliosRedes-redes">
			<header class="DomiciliosRedes-Redes__header"></header>
			<ul class="DomiciliosRedes-Redes__links">
				<li><a href="#"></a><figure class="DomiciliosRedes-Redes__links__icono">
					Facebook
				</figure></li>
				<li><a href="#"></a><figure class="DomiciliosRedes-Redes__links__icono">
					Twitter
				</figure></li>
				<li><a href="#"></a><figure class="DomiciliosRedes-Redes__links__icono">
					Google+
				</figure></li>
				<li><a href="#"></a><figure class="DomiciliosRedes-Redes__links__icono">
					Instagram
				</figure></li>
			</ul>
		</aside>
	</section>
	<section class="Promociones">
		<figure class="Promociones-imagen">
			
		</figure>
		<figcaption class="Promociones-descripcion">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, esse itaque eveniet ullam illum nam aliquid voluptatem assumenda iste! Tenetur, quisquam modi eligendi neque quam dolore. Eum architecto autem eius!
		</figcaption>
	</section>
	<footer class="LinksDerechos">
		<section class="LinksDerechos-links">
			<ul class="LinksDerechos-links__lista">
				<li class="LinksDerechos-links__lista__link"><a href="#"></a>Productos</li>
				<li class="LinksDerechos-links__lista__link"><a href="#"></a>Sucursales</li>
				<li class="LinksDerechos-links__lista__link"><a href="#"></a>Contacto</li>
			</ul>
		</section>
		<aside class="LinksDerechos-derechos">
			<p class="LinksDerechos-derechos_descripcion">
				Diseñado por Nexdu, el contenido pertenece a Nexdu Restaurantes.
			</p>
		</aside>
	</footer>
</body>
</html>