<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/style.css">
	<title>Nexdu Restaurantes</title>
</head>
<body>
	<header class="Main">
		<div class="Main-menuIcon">&#9776;</div>
		<h1 class="Main-nombre">Restaurante Nexdu</h1>
	</header>
	<section class="SucursalesRedes">
		<section class ="SucursalesRedes-sucursales">
			<article class="SucursalesRedes-sucursales__articulo">
				<h3 class="SucursalesRedes-sucursales__titulo">Combo 1</h3>
				<figure class="SucursalesRedes-sucursales__imagen">
					<img src="../images/domicilios.jpeg" width="100" alt="Combo 1">
				</figure>
				<figcaption class="SucursalesRedes-sucursales__descripcion">
					<ul class="SucursalesRedes-sucursales__lista">
						<li class="SucursalesRedes-sucursales__direccion"></li>
						<li class="SucursalesRedes-sucursales__telefono"></li>
					</ul>
				</figcaption>
			</article>
			<article class="SucursalesRedes-sucursales__articulo">
				<h3 class="SucursalesRedes-sucursales__titulo">Combo 2</h3>
				<figure class="SucursalesRedes-sucursales__imagen">
					<img src="../images/domicilios.jpeg" width="100" alt="Combo 2">
				</figure>
				<figcaption class="SucursalesRedes-sucursales__descripcion">
					<ul class="SucursalesRedes-sucursales__lista">
						<li class="SucursalesRedes-sucursales__direccion"></li>
						<li class="SucursalesRedes-sucursales__telefono"></li>
					</ul>
				</figcaption>
			</article>
			<article class="SucursalesRedes-sucursales__articulo">
				<h3 class="SucursalesRedes-sucursales__titulo">Combo 3</h3>
				<figure class="SucursalesRedes-sucursales__imagen">
					<img src="../images/domicilios.jpeg" width="100" alt="Combo 3">
				</figure>
				<figcaption class="SucursalesRedes-sucursales__descripcion">
					<ul class="SucursalesRedes-sucursales__lista">
						<li class="SucursalesRedes-sucursales__direccion"></li>
						<li class="SucursalesRedes-sucursales__telefono"></li>
					</ul>
				</figcaption>
			</article>
			<article class="SucursalesRedes-sucursales__articulo">
				<h3 class="SucursalesRedes-sucursales__titulo">Combo 4</h3>
				<figure class="SucursalesRedes-sucursales__imagen">
					<img src="../images/domicilios.jpeg" width="100" alt="Combo 4">
				</figure>
				<figcaption class="SucursalesRedes-sucursales__descripcion">
					<ul class="SucursalesRedes-sucursales__lista">
						<li class="SucursalesRedes-sucursales__direccion"></li>
						<li class="SucursalesRedes-sucursales__telefono"></li>
					</ul>
				</figcaption>
			</article>
		</section>	
		<aside class="DomiciliosRedes-redes">
			<ul class="DomiciliosRedes-Redes__links">
				<li><a href="#"><figure class="DomiciliosRedes-Redes__links__icono">
					<img src="../images/facebook.png" width="50" alt="Facebook">
				</figure></a></li>
				<li><a href="#"><figure class="DomiciliosRedes-Redes__links__icono">
					<img src="../images/twitter.png" width="50" alt="Twitter">
				</figure></a></li>
				<li><a href="#"><figure class="DomiciliosRedes-Redes__links__icono">
					<img src="../images/google-plus.png" width="50" alt="Google plus">
				</figure></a></li>
				<li><a href="#"><figure class="DomiciliosRedes-Redes__links__icono">
					<img src="../images/instagram.png" width="50" alt="Instagram">
				</figure></a></li>
			</ul>
		</aside>
	</section>
	<footer class="LinksDerechos">
		<section class="LinksDerechos-links">
			<ul class="LinksDerechos-links__lista">
				<li class="LinksDerechos-links__lista__link"><a href="productos.html">Productos</a></li>
				<li class="LinksDerechos-links__lista__link"><a href="#">Sucursales</a></li>
				<li class="LinksDerechos-links__lista__link"><a href="#">Contacto</a></li>
			</ul>
		</section>
		<aside class="LinksDerechos-derechos">
			<p class="LinksDerechos-derechos_descripcion">
				Diseñado por Nexdu, el contenido pertenece a Nexdu Restaurantes.
			</p>
		</aside>
	</footer>
</body>
</html>